@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

ul.traits  {
    margin:0px;
    padding:0px;
}
ul.traits li {
    padding: 6px;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-content:center;
    align-items: center;
}

ul.traits li input {
    max-width: 40px;
    padding: 4px;
}

ul.traits .value {
    font-size: 16px;
    padding: 8px;
    font-weight: bolder;
} 


ul.traits .label {
    font-size: 12px;
    color: #323432;
}