@import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
    font-family: 'Montserrat', sans-serif;
    background: url('../img/dist/main-bg-blur.jpg')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

.container {
    margin-right: 300px;
    padding: 22px;
    height: 100%;
}


.side-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-image: url('../img/dist/paper/black_paper.png');
    overflow-x: hidden;
    padding-top: 20px;
    width: 300px;
    height: 100%;
}

.side-nav-logo {
    width:100%;
}

.side-nav-menu {
    min-height: 600px;
    margin:12px;
    padding:32px;
    background:  url('../img/dist/menu-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.side-nav-menu ul {
    list-style-type:none;
    margin: 0px;
    padding: 0px;
    text-align:left;
}

.side-nav-menu ul li {
    text-transform: uppercase;
    font-family: 'Patrick Hand', cursive;
    color:#efefef;
    font-weight: 300;
    font-size: 24px;
    transition: background-color 0.3s ease;
    padding:8px 32px;
    border-bottom: 1px dotted #8b0000;
}

.side-nav-menu ul li:hover {
    cursor: pointer;
    background-color: #8b000088;
    color:whitesmoke;
    border-right: 4px solid whitesmoke;
}

.side-nav-menu ul .link{
    all: unset;
}



.logo-img{
    position:fixed;
    top:0;
    right:0;
    width:300px;
}

.paper-card {
    background-image: url('../img/dist/paper/exclusive_paper.png');
    border-radius: 4px;
    -webkit-box-shadow: 8px 10px 39px 10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 10px 39px 10px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 10px 39px 10px rgba(0, 0, 0, 0.75);
}

#login-card {
    margin: 140px auto;
    max-width: 460px;
}

#login-card form {
    display: flex;
    flex-direction: column;
}

#login-card button {
    margin-top: 32px;
}

.paper-card .paper-card-body {
    padding: 42px;
}

.paper-card .paper-card-title {
    padding:8px;
    background-color: #0a0a0aea;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.paper-card .paper-card-title h2 {
    margin: 0px;
}

.paper-card .paper-card-body-sm {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

