.paper-card {
    margin: 160px auto;
    max-width: 460px;
    border-radius: 4px;
    -webkit-box-shadow: 8px 10px 39px 10px rgba(0,0,0,0.75);
    -moz-box-shadow: 8px 10px 39px 10px rgba(0,0,0,0.75);
    box-shadow: 8px 10px 39px 10px rgba(0,0,0,0.75);
}

.paper-card  button {
    margin-top: 32px;
}

.paper-card .paper-card-body form {
    padding: 42px;
    display: flex;
    flex-direction:column;
    background-image: url('./../../img/paper-texture-alt.jpg');
}
